
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    color: lightblue;
    background-color: white;
    font-family: "Poppins",sans-serif;
}


nav {
    font-family: "Poppins",sans-serif;
    font-size: 25px;
}
div {
    color: lightblue;
}
card1
{
    margin-left: ($spacer * .25);
}
#resume{
    width: 500px;
    height: 500px;
}
#aboutmeparagraph {
    font-size: 25px;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    border:medium;
    border-color: crimson;
}
#profilePic{
    width: 90px;
    height: 160px;
}
.navbar-nav.navbar-center {
    justify-content: center;
}
#intro{
    margin-left:10px;
    padding-left:10px;
}
card{
    height:80px;
}
#work{
    font-size:70px;
    font-weight:bold;
    color:white;
}
#workCarousel{
    align-self:center;
    height:150px;
}

@media (min-width: 768px) {
    .carousel .carousel-item img {
        width: 1897px;
        height: 750px;
    }
}
.carousel-inner > .item > img {
    margin: 0 auto;
}