
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    color: lightblue;
    font-family: "Palatino Linotype",sans-serif;
}
p{
    color: lightblue;
}

#myNav {
    font-family: "Palatino Linotype",sans-serif;
    font-size: 25px;
    color: lightblue;
}
nav {
    font-family: "Palatino Linotype",sans-serif;
    font-size: 25px;
    color:lightblue;
}
div {
    color: lightblue;
}
card1
{
    margin-left: ($spacer * .25);
}
#resume{
    width: 500px;
    height: 500px;
}
#aboutmeparagraph {
    font-size: 25px;
    color: lightblue;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    border:medium;
    border-color: crimson;
}
#profilePic{
    width: 90px;
    height: 160px;
}
.navbar-nav.navbar-center {
    justify-content: center;
}
#intro{
    margin-left:10px;
    padding-left:10px;
}
card{
    height:80px;
}
#work{
    font-size:70px;
    font-weight:bold;
    color:lightblue;
}
#workCarousel{
    align-self:center;
    height:150px;
}

@media (min-width: 768px) {
    .carousel .carousel-item img {
        width: 1400px;
        height: 500px;
    }
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-item{
    font-family: 'Palatino Linotype';
    color:lightblue;
}
#workContainer{
    margin-top:35px;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.6,.6)
    }

    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation: fade-in 1.4s;
}
.hidden {
    opacity: 0;
}





/* Style the Image Used to Trigger the Modal */
.exapndable {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    .expandable:hover {
        opacity: 0.7;
    }
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */
